body {
    font-family: Arial, sans-serif;
    background-color: rgba(3, 15, 126, 0.801);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  form {
    width: 300px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 9px;
  }
  
  input.invalid {
    border: 1px solid #ff0000;
  }
  
  button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #808080;
    cursor: not-allowed;
  }
  